@model Tools.VaultAppRole

@{
    ViewData["Title"] = "Home page";
    Layout = "~/Pages/_Layout.cshtml";
}

@addTagHelper  *, Microsoft.AspNetCore.Mvc.TagHelpers

<form asp-controller="Home" method="post">
    <div>
        <h1>Vault App Role Credentials</h1>
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Vault Uri</label>
                <input class="col-md-12" name="VaultUri" value="@Model.VaultUri" />
            </div>
            <div class="col-md-3">
                <label>App Role Auth Mountpoint</label>
                <input class="col-md-12" name="AppRoleMountpoint" value="@Model.AppRoleMountpoint" />
            </div>
            <div class="col-md-3">
                <label>Bootstrap Token</label>
                <input class="col-md-12" name="BootstrapToken" value="@Model.BootstrapToken" />
            </div>
            <div class="col-md-3">
                <label>App Role Name</label>
                <input class="col-md-12" name="AppRoleName" value="@Model.AppRoleName" />
            </div>
            <button type="submit" asp-action="GetSecrets" class="col-md-12">Get Role Id and Secret Id</button>
        </div>
    </div>
    <div>
        <h1>Vault App Role Secrets</h1>
        <div class="col-md-12">
            <div class="col-md-6">
                <label>Role Id</label>
                <input class="col-md-12" name="RoleId" value="@Model.RoleId" />
            </div>
            <div class="col-md-6">
                <label>Secret Id</label>
                <input class="col-md-12" name="SecretId" value="@Model.SecretId" />
            </div>
            <button type="submit" asp-action="GetToken" class="col-md-12">Login and Get Token</button>
        </div>
    </div>
    <div>
        <h1>Vault Token</h1>
        <div class="col-md-12">
            <div class="col-md-4">
                <label>Token</label>
                <input class="col-md-12" name="Token" value="@Model.Token" />
            </div>
            <div class="col-md-4">
                <label>Database Secret Mountpoint</label>
                <input class="col-md-12" name="DatabaseMountpoint" value="@Model.DatabaseMountpoint" />
            </div>
            <div class="col-md-4">
                <label>Database Role</label>
                <input class="col-md-12" name="DatabaseRole" value="todoApp_rw" />
            </div>
            <button type="submit" asp-action="GetSqlCredentials" class="col-md-12">Get SQL Login Credentials</button>
        </div>
    </div>
</form>


<div>
    <h1>Sql Server Credentials</h1>
    <label>UserName</label>
    <p>@Model.Credentials.username</p><br />
    <label>Password</label>
    <p>@Model.Credentials.password</p>
</div>
